{% extends 'alumnosModulo/base.html' %} 
{% block content %}
<!-- MATERIAS-HORARIOS-AULAS -->
<div class="col">
    <div class="containter border border-1 rounded-1" style="min-width: 900px;">
        <p class="h6 pt-2 text-center">Materias - Horarios - Aulas</p>
        <hr class="m-0">
        <p class="h6 m-0 text-primary text-center">Año:     2022     Cuatrimestre:    1</p>
        <hr class="m-0">
        <table id="materiasHorariosAulas" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Materias cursando en el cuatrimestre</th>
                    <th>HORARIO</th>
                    <th>PROFESOR</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in materias %}
                <tr>
                    <td>{{ materia.nombreMateria }}</td>
                    <td>{{ materia.horario }}</td>
                    <td>{{ materia.profesor }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script>
$(document).ready(function () {
    $('#materiasHorariosAulas').DataTable();
    $()
});
</script>
{% endblock %}